
                #projects {
                    width: 10px;
                }
                #labels {
                    width: 100%;
                }
                #highestPriorityName {
                    width: 100%;
                }
                #blocker {
                    width: 100%;
                }
                #highPriorityName {
                    width: 100%;
                }
                #critical {
                    width: 100%;
                }
                #majorPriorityName {
                    width: 100%;
                }
                #major {
                    width: 100%;
                }
                #red {
                    width: 100%;
                }
                #amber {
                    width: 100%;
                }
                #refresh {
                    width: 100%;
                }