 .highcharts-point{
    min-width: 300px;
}
.flex-parent{
    max-width: 1000px;
    flex-wrap: wrap;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
    align-content: flex-start
    flex-direction: row;
}
.flex-box{
    flex-grow: 2 1 auto;
    max-width: 380px;
    flex-shrink: 1;
    width:auto;
}
.risk-def{
    flex 2 1 auto;
    max-width: 380px;
    white-space: pre-line;
}
.specialFlexBox{
    flex-directions: column;
    justify-content: flex-start;
    max-width: 380px;
}
.flex-row{
    max-width: 1200px;
    flex 4 2 auto;
    flex-directions: row;
    justify-content: flex-start;
    float: left;
}
.thresholds-settings{
    max-width: 1200px;
    min-width: 900px;
}
#issuesDescriptionTable{
    max-width: 800px;
}
.headerRow{
    font-size: 14px;
    border-bottom: 2px solid #6678b1;
}
.bodyRow{
    max-width: 800px;
    width:100%;
    border-bottom: 1px solid #669;
}
#calculatedRateScore{
    text-align: right;
    width:5%;
    padding: 0px 15px 12px 0px;
}
#issueSummary{
    width:20%;
    padding: 15px 15px 15px 15px;
}
#issueKey{
    width:15%;
    padding: 15px 15px 15px 15px;
}
#issuePriority{
    width:15%;
    padding: 15px 15px 15px 15px;
}
#issueExpiration{
    width:15%;
    padding: 15px 15px 15px 15px;
}
#assignee{
    width:30%;
    padding: 15px 15px 15px 15px;
}
#dateConfig{
    flex-wrap: wrap;
    display: flex;
    overflow: auto;
    justify-content: space-around ;
    align-content: flex-start
    flex-direction: row;
    width:100%;
}
.red{
    background: #AF2947;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-right: 15px;
    text-align: center;
    line-height: 1.8em;
    width: 1.8em;
}
.amber{
    background: #F0B400;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-right: 15px;
    text-align: center;
    line-height: 1.8em;
    width: 1.8em;
}
.green{
    background: #7F9943;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-right: 15px;
    text-align: center;
    line-height: 1.8em;
    width: 1.8em;
}