 .highcharts-point{
    min-width: 300px;
}
.flex-parent{
    max-width: 1000px;
    flex-wrap: wrap;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
    align-content: flex-start
    flex-direction: row;
}
.flex-box{
    flex-grow: 2 1 auto;
    max-width: 380px;
    flex-shrink: 1;
    width:auto;
}
.risk-def{
    flex 2 1 auto;
    max-width: 380px;
    white-space: pre-line;
}
.specialFlexBox{
    flex-directions: column;
    justify-content: flex-start;
    max-width: 380px;
}
.flex-row{
    max-width: 1200px;
    flex 4 2 auto;
    flex-directions: row;
    justify-content: flex-start;
    float: left;
}
.thresholds-settings{
    max-width: 1200px;
    min-width: 900px;
}
.headerRow{
    font-size: 14px;
    border-bottom: 2px solid #6678b1;
}
.bodyRow{
    width:100%;
    border-bottom: 1px solid #669;
}
#tableColor{
    width:15%;
    padding: 15px 15px 15px 15px;
}
#calculatedRateScore{
    width:20%;
    padding: 15px 15px 15px 15px;
}
#issueKey{
    width:35%;
    padding: 15px 15px 15px 15px;
}
#issuePriority{
    width:30%;
    padding: 15px 15px 15px 15px;
}