<html>
<head>
    <title>Heatmap configuration</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResourcesForContext("heatmap.context")
    #set ($configDTO = $action.configDTO)
</head>

<body>
    <form id="heatmapConfig" name="heatmapConfig" class="aui">
    <fieldset>
        <div class="field-group">
            <label for="projects">Projects (comma separated list, ex. "FACTIVA,DMI")</label>
            <input type="text" id="projects" name="projects" class="text" value="">
        </div>
        <div class="field-group">
            <label for="labels">Labels:(comma separated list, ex. "sec-issue,security")</label>
            <input type="text" id="labels" name="labels" class="text" value="">
        </div>
    </fieldset>
    <fieldset>
        <legend>Health thresholds:</legend>
        <div class="field-group">
            <label for="blocker">Blocker expected triage time, h(ex. 24):</label>
            <input type="text" id="blocker" name="blocker" value="" class="text">
        </div>
        <div class="field-group">
            <label for="critical">Critical expected triage time, h(ex. 48):</label>
            <input type="text" id="critical" name="critical" value="" class="text">
        </div>
        <div class="field-group">
            <label for="major">Major expected triage time, h(ex. 96):</label>
            <input type="text" id="major" name="major" value="" class="text">
        </div>
        <div class="field-group">
            <label for="minor">Minor expected triage time, h(ex. 256):</label>
            <input type="text" id="minor" name="minor" value="" class="text">
        </div>
    </fieldset>
    <fieldset>
        <legend>Health thresholds:</legend>
        <div class="field-group">
            <label for="red">Health status "Red" score value:</label>
            <input type="text" id="red" name="red" value="" class="text">
        </div>
        <div class="field-group">
            <label for="amber">Health status "Amber" score value:</label>
            <input type="text" id="amber" name="amber" value="" class="text">
        </div>
        <div class="field-group">
             <input type="submit" id="submit" value="Submit" name="submit" class="button">
         </div>
    </fieldset>
    </form>
</body>
</html>